# Задание

In [2]:
import pandas as pd
data = pd.read_csv('./datasets/kaggle_survey_2022_responses.csv')

/tmp/ipykernel_67555/7735099.py:2: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./datasets/kaggle_survey_2022_responses.csv')

## Задание 1

Узнай самый часто встречаемый возраст респондентов

In [24]:
questions = data.iloc[0]
data.drop(0, inplace = True) # Удаление вопросиков
data['Q2'].value_counts().head(1) # value_counts по умолчанию распологает в порядке убывания => первый будет самым часто встречающимся

18-21    4559
Name: Q2, dtype: int64

## Задание 2

Посчитай долю женщин среди русских участником опроса, которые уже не студенты. Результат округли до 2х цифры после запятой

In [32]:
(data['Q4'].str.contains('Russia')).sum() #Общее количество русских

324

In [51]:
all_rus_no_student = float(((data['Q5'].str.contains('No'))&(data['Q4'].str.contains('Russia'))).sum()) # Русских не студентов)

In [52]:
woman_rus_no_student = float(((data['Q5'].str.contains('No'))&(data['Q4'].str.contains('Russia'))&(data['Q3'].str.contains('Woman'))).sum()) # Русских не студентов женщин

In [56]:
print("Доля женщин среди русских не студентов: ",round(woman_rus_no_student/all_rus_no_student, 2)) #Ответ

Доля женщин среди русских не студентов:  0.24

## Задание 3

Найди среднее время заполнения опроса в **минутах**. Результат округли до 2х знаков после запятой

In [57]:
data['Duration (in seconds)'] = data['Duration (in seconds)'].astype(int) #Перевод в целые числа

In [64]:
duration_mean = round( data['Duration (in seconds)'].mean()/60, 2) #Среднее в минутах и округленное

In [65]:
duration_mean #Ответ

168.17

## Задание 4

Выведи топ-3 образовательных курса, которые указали респонденты. P.S Это вопрос Q6

In [68]:
q6_columns = [col for col in data.columns if col.startswith('Q6')] #Сбор всех колонок где есть 6 вопрос

In [70]:
courses = data[q6_columns].melt(var_name = 'question', value_vars = q6_columns) # объединение колонок в одну

In [72]:
courses['value'].value_counts().iloc[:3] #Топ 3 курсов по версии опроса

Coursera                                                 9699
University Courses (resulting in a university degree)    6780
Kaggle Learn Courses                                     6628
Name: value, dtype: int64

## Задание 5

Узнай топ-5 языков программирования, которые регулярно используют Data Scientists в своей работе

In [73]:
q12_columns = [col for col in data.columns if col.startswith('Q12')] #Сбор всех колонок где есть 12 вопрос

In [74]:
languages = data[q12_columns].melt(var_name = 'question', value_vars = q12_columns) # объединение колонок в одну

In [78]:
languages['value'].value_counts().iloc[:5] #Топ 5 языков по версии опроса

Python    18653
SQL        9620
R          4571
C++        4549
Java       3862
Name: value, dtype: int64

## Задание 6

Узнай средний доход 'Data Scientist' и 'Machine Learning/ MLops Engineer' \
Т.к в колонке Q29 у на промежуток, то возьмите среднее значение из промежкутка. Например '15,000-19,999' - 17500, '125,000-149,999' - 137500. >$1,000,000 - оставляем 1000000

In [81]:
avg_salary = {
    '$0-999': 500,'1,000-1,999': 1500, '2,000-2,999': 2500, '3,000-3,999': 3500, '4,000-4,999': 4500, '5,000-7,499': 6250, '7,500-9,999': 8750, '10,000-14,999': 12500, '15,000-19,999': 17500, '20,000-24,999': 22500, '25,000-29,999': 27500, '30,000-39,999': 35000, '40,000-49,999': 45000, '50,000-59,999': 55000, '60,000-69,999': 65000, '70,000-79,999': 75000, '80,000-89,999': 85000, '90,000-99,999': 95000, '100,000-124,999': 112500, '125,000-149,999': 137500, '150,000-199,999': 175000, '200,000-249,999': 225000, '250,000-299,999': 275000, '300,000-499,999': 400000, '$500,000-999,999': 750000, '>$1,000,000': 1000000
} #Замена зарплаты на среднюю

In [82]:
data['Q29-NEW'] = data['Q29'].map(avg_salary) #Интеграция средних  в датафрейм

In [99]:
DS_ML = data[
    (data['Q23'] == 'Data Scientist') | (data['Q23'] == 'Machine Learning/ MLops Engineer')
] #Выборка по Дата Сайнтистам и Машинных обучателей :3

In [114]:
DS_ML[['Q23', 'Q29-NEW']].groupby('Q23').mean('Q29-NEW') #Ответ

                                       Q29-NEW
Q23
Data Scientist                    70337.236534
Machine Learning/ MLops Engineer  67437.747036

## Задание 7 - Дополнительное задание

Найдите какой-нибудь интересный инсайт из этих данных. Пишите свои интересные инсайты в чат проекта с хэштегом.
#инсайт

Автор самого интересного инсайта получит p2p баллы. Поверь, они тебе понадобятся

Я решил посмотреть какие средние зпшки по странам и вот что обнаружил.

In [107]:
q28_columns = [col for col in data.columns if col.startswith('Q28')] #Сбор всех колонок где есть 13 вопрос
role = data[q28_columns].melt(var_name = 'question', value_vars = q28_columns) # объединение колонок в одну

In [118]:
data[['Q4', 'Q29-NEW']].groupby('Q4').mean('Q29-NEW').sort_values(by='Q29-NEW', ascending = False)

                                                          Q29-NEW
Q4
United States of America                            149769.002789
Zimbabwe                                            143750.000000
Australia                                           135362.068966
Israel                                              132512.195122
United Kingdom of Great Britain and Northern Ir...   99991.007194
Ireland                                              89233.333333
Canada                                               85322.649573
France                                               83633.211679
Singapore                                            77081.081081
Germany                                              76156.250000
United Arab Emirates                                 71970.588235
Netherlands                                          71354.166667
Belgium                                              65409.090909
Czech Republic                                       61490.384615
Hong Kong (S.A.R.)                                   58980.769231
Spain                                                52510.714286
South Korea                                          49675.572519
Japan                                                49524.024024
Sri Lanka                                            48687.500000
Saudi Arabia                                         47500.000000
Portugal                                             44505.952381
Italy                                                42766.853933
Poland                                               41506.756757
Other                                                41443.737769
China                                                37858.796296
Taiwan                                               36640.909091
South Africa                                         35540.540541
Morocco                                              34898.809524
Brazil                                               33733.732877
Romania                                              32931.818182
I do not wish to disclose my location                31625.000000
Thailand                                             27774.509804
Mexico                                               27347.122302
Turkey                                               26539.473684
Colombia                                             26036.516854
Chile                                                25347.222222
India                                                25065.399485
Nepal                                                24807.692308
Ukraine                                              23738.636364
Russia                                               20989.130435
Ghana                                                20500.000000
Egypt                                                20340.659341
Ecuador                                              20083.333333
Tunisia                                              19200.000000
Malaysia                                             18267.857143
Argentina                                            16597.972973
Kenya                                                15389.534884
Peru                                                 15218.750000
Philippines                                          13489.583333
Cameroon                                             13366.666667
Viet Nam                                             11527.272727
Bangladesh                                           11267.441860
Indonesia                                            11162.735849
Pakistan                                              9755.725191
Iran, Islamic Republic of...                          9034.482759
Nigeria                                               7511.006289
Algeria                                               4000.000000
Ethiopia                                              2712.121212

Зимбабве на втором месте, а наша любимая страна всего на 40ом! Мы что-то не знаем о Зимбабве. Есть вероятность, что все, кто выжили в гонке со львом отправляются добывать алмазики и золото. Люди устраивают бунты, на что власти компании должны повышать зарплату. Но у властей возникает 100500 вопросов, когда разнорабочий получает больше 100к долларов. Тогда компания решила выдать им айтишные должности, после таких маневров, государство их не трогало. Это все теории и догадки и все совпадения случайны.
А ещё ... возможно, именно там находится Ваканда! ( Ваканда навеки "X" !)